nav
{
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a
{
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation
{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1)
{
	width: 100px;
}
a:nth-child(2)
{
	width: 110px;
}
a:nth-child(3)
{
	width: 100px;
}
a:nth-child(4)
{
	width: 160px;
}
a:nth-child(5)
{
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation
{
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation
{
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation
{
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation
{
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation
{
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
body
{
	font-size: 12px;
	font-family: sans-serif;
}
p
{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
sub-menu-parent2{
		position: relative;
		float: right;
		right: 7%;
		text-align: center;
		padding:10px 10px 10px 10px;
	 }
	 .sub-menu2 {
			visibility: hidden; /* hides sub-menu */
			opacity: 0;
			position: absolute;
			/*padding:1px 1px 1px 1px;
			*/
			top: 100%;
			left: 5%;
			width: 150%;
			text-align: center;
			transform: translateY(-2em);
			z-index: -1;
			transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
		}
		.sub-menu-parent2:hover {
			position: relative;
			padding-top:
			padding-left:10px;

			/*margin:1px 1px 1px 1px;*/
			border-radius: 5px;
			color:black;
		}
			.sub-menu-parent2:hover .sub-menu2 {
				visibility: visible; /* shows sub-menu */
				opacity: 1;
				z-index: 1;
				border-radius: 20px;
				padding: 1px 1px 1px 1px;
				text-align: center;
				transform: translateY(0%);
				transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
			}
			.sub-menu2 {

				text-align: center;
			}
			.color {
						/*position: ;
						*/    display: inline-block;
						width: 100%;
						line-height: 2em;
						text-align: center;
						text-decoration: none;
						border-radius: 5px;
					}
					.color:hover {
						color: white;
						background-color: #4CAF50;
					}
